@charset "utf-8";

/* CSS Document */
* {
	margin: 0;
	padding: 0;
	list-style: none;
	border: 0;
}

body {
	font-size: 14px;
	font-family: "微软雅黑";
	padding: 1% 1%;
	background: rgba(119, 152, 241, 0.2)
}

a:link,
a:visited {
	color: #336699;
	text-decoration: none;
	outline: none;
}

a:hover {
	text-decoration: none;
	color: #0882B1;
}

/*head开始*/
#head {
	/* margin :上右下左 */
	position: fixed;
	float: left;
	width: 23%;
	height: auto;
	padding-bottom: 40px;
	background: rgba(254, 254, 254, 1);
	/*  边框：粗细  样式 颜色 */
	border: 3px solid;
	border-color: rgba(119, 152, 241, 0.3);
	text-align: center;
}

.head-photo {
	/* 比例 1.218 */
	width: 110px;
	height: 135px;
	margin: 0 auto;
	margin-top: 60px;
	padding: 0;
}

.head-photo img {
	max-width: 100%;
	max-height: 100%;
	display: block;
}

.head-info {
	width: 100%;
	margin: 0 auto;
	height: auto;
	margin-top: 20px;
}

.head-info-left {
	width: 25%;
	float: left;
	text-align: right;
}

.head-info-right {
	width: 75%;
	float: right;
	text-align: left;
}
.head-logol-left {
	width: 20%;
	padding-left: 10%;
	text-align: right;
}

.head-logol-right {
	width: 80%;
	text-align: left;
}
.head-info-1 {
	margin-bottom: 10px;
}

.head-function {
	width: 80%;
	margin: 0 auto;
	height: auto;
	margin-top: 20px;
}
.head-logol{
	width:20px;
	height:20px;
}
.head-function-list{
	font-size: 15px;
	height: 25px;
	margin: 5px 0px 5px 0px;
}
.head-function-left {
	width: 50%;
	height: 100%;
	float: left;
	text-align: right;
	text-decoration: underline;
}

.head-function-right {
	width: 50%;
	height: 100%;
	float: right;
	text-align: left;
	text-decoration: underline;
}

.head-footer {
	font-size: 13px;
	width: 100%;
	margin: 0 auto;
	margin-top: 10px;
}
#pagecontent {
	float: right;
	width: 75%;
	height: 100%;
	background: rgba(119, 152, 241, 0.1);
}


/*head结束*/
/*content开始*/
/*左上半部分*/
#content {
	width: auto;
	height: auto;
	margin: 5px 5px;
	margin-right: 10px;
	overflow: hidden;
}
.content-gap {
	width: 100%;
	height: 20px;
	margin: 0px 0px;
	overflow: hidden;
}
.content-block {
	width: 100%;
	height: auto;
	margin: 5px 5px;
	overflow: hidden;
	padding-top: 10px;
	padding-bottom: 15px;
	background: rgba(254, 254, 254, 1);
}

.content-title {
	font-size: 19px;
	padding-left: 5px;
	font-weight: bold;
	color: #336699;
}

.content-line {
	width: 60%;
	height: 2px;
	margin-top: 5px;
	margin-left: 5px;
	margin-bottom: 0px;
	background: rgba(24, 25, 26, 0.7)
}
.content-block-sub {
	padding-top: 5px;
	margin: 5px 5px;
	margin-left: 10px;
}

.content-block-sub-title {
	font-size: 15px;
	font-weight: bold;
	margin: 5px 5px;
	margin-left: 20px;
}
.content-block-sub-list {
	margin: 5px 5px;
	margin-left: 20px;
}

.content-block-sub-list li {
	margin: 5px 5px;
}

/*footer开始*/
#footer {
	width: 100%;
	height: 77px;
	text-align: center;
	background: #c8e5e9;
	color: #666;
}

/*footer结束*/